<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
    <dubbo:registry protocol="zookeeper" address="zookeeper://127.0.0.1:2181" />
    <!-- 给dubbo服务者起个名 -->
    <dubbo:application name="xue-dubbo"/>
    <!-- 用zookeeper注册服务中心暴露服务地址 -->
    <!--  accepts="10" 暴露dubbo的通信端口 限制服务器端接受的连接不能超过 10 个-->
    <dubbo:protocol name="dubbo" port="20885"  accepts="10"  />
    <!--<dubbo:provider ></dubbo:provider>-->
    <dubbo:provider export="true" token="xuetocken"/>



    <import resource="classpath:spring-dubbo-customers.xml"/>
    <import resource="classpath:spring-dubbo-providers.xml"/>

</beans>
